.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}
.navbar ul li{
    color: white;
    display: inline;
    padding: 20px;
}
/* .navbar ul li{ */
    display: block;
}
@media screen (max-width: 768px) {
    .navbar{
        height: 90px;
    }
    .navbar    
}