/* *{
    background-color: brown;
} */
h1{
    color: whitesmoke;
    text-decoration: underline;
    text-shadow: 5px 5px 3px black;
}
.image{
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    height: 200px;
}
.image1{

    background-image: url("Pattrick.jpg");
    background-repeat: no-repeat;
    height: 500px;

}
.image2{
    background-image: url("squidward.jpg");
    background-repeat: no-repeat;
    height: 150px;
    background-position: fixed;
}
h3{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}